raw_data/
trimmed_data/
references/
alignment/
counts/
logs/
subsampled_data/

*.zip
*.tar.gz

data/chr20_data.zip

.RData
.Rhistory

__pycache__/
*.pyc
.DS_Store
.vscode/

*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.bam
*.sam
*.cram
*.bai
